<!--<%= render '/refinery/content_page' %>-->
<div class="span12 feature">

    <div class="message">
        <h1>Подбор средств измерений, автоматики и метрологического оборудования </h1>
        <p>Наши специалисты и инженеры помогут вам выбрать соответствующий тех заданию прибор, окажут техническую поддержку и предоставят гарантийные обязательства. Позвоните нам по телефону 8-800-555-18-90. </p>
    </div>
    <div class="featured-product">
        <h2>Популярные товары</h2>
        <!--<div id="copy">-->
        <table id="home_random_products">
            <tr>
            <td>
             <%= link_to (image_fu @random_product.images.first, '200x140'), refinery.products_product_path(@random_product) %><br/><br/>
             <%= link_to @random_product.title, refinery.products_product_path(@random_product) %>
            </td>
            <td>
                <%= link_to (image_fu @random_product2.images.first, '200x140'), refinery.products_product_path(@random_product2) %> <br/><br/>
                <%= link_to @random_product2.title, refinery.products_product_path(@random_product2) %>
            </td>
            </tr>
            
        </table>
            <!--<a class="special-link small-copy" href="/categories/5054/gas-detectors"><strong>Shop All Gas Detectors</strong></a>-->
        <!--</div>-->
    </div>
</div>

<div class="span12 partner">
    <%= render 'layouts/carousel' %>
</div>

<div class="span12 advtext">
<h2 style="color:#002EBC">10 причин приобрести продукцию у нас</h2>
<ol>
<li>Самый <a href="/categories">широкий ассортимент</a> средств измерений, автоматики и метрологического оборудования от одного поставщика. Более 5000 наименований и моделей  приборов и оборудования. Удобный подбор по назначению прибора, по алфавиту или через строку «ПОИСК». Отображение всех  моделей и типов аналогичных приборов.</li>
<li>Мы предлагаем продукцию более <a href="/brands">40 производителей КИПиА</a> и метрологического оборудования из  России, Европы и США. Это производители проверенные  на российском рынке средств измерений, их продукция внесена Госреестр  Средств измерений, имеет разрешения на использование на опасных производственных объектах и в Атомной промышленности. Ознакомиться с нашими партнерами.</li>
<li>Мы предлагаем продукцию по ценам производителей, и можем предоставить скидки в зависимости от объёма заказа. Запросить  скидки у нас &mdash; <a href="/контакты">здесь</a>. Если вы нашли лучшую цену &mdash; дайте нам шанс, чтобы  мы могли пересмотреть своё предложение и соответствовать минимальной стоимости. Потому что, по той же низкой цене, мы предложим Вам бесплатную техническую поддержку от наших сотрудников, полную гарантию от производителя и нашей ответственности за поставленную Вам продукцию. </li>
<li>Мы поддерживаем  <a href="/">складской запас</a> наиболее востребованной приборной продукции. По наличию Вы можете приобрести: манометры, термометры, трансформаторы, датчики давления, температуры, счетчики воды, счетчики электричества, счетчики газа.  Ознакомиться с наличием на складе.</li>
<li>Мы гарантируем сокращенные сроки поставки заказанной продукции. Многолетний логистический опыт поставок и устойчивые отношения с руководством предприятий-изготовителей позволяют нам  выдерживать и сокращать  договорные сроки. Мы не подведём вас в период текущих и капитальных ремонтов производств и цехов, обеспечим стабильную работу, и осуществим вовремя комплексную поставку для капитального строительства. <a href="/контакты">Узнать о сроках поставки</a> интересующей Вас продукции.</li>
<li> Бесплатная техническая поддержка при выборе приборов и оборудования. На современном российском рынке КИПиА  предлагаются приборы более чем от 250 производителей. Со многими из них мы уже работали, поэтому мы имеем отзывы наших клиентов об их продукции. Поэтому наши специалисты  помогут Вам подобрать  продукцию    в зависимости от ваших пожеланий, учитывая опыт наших поставок, и предложат продукцию по оптимальному соотношению «Качество-Цена-Срок поставки-Гарантия». <a href="/контакты">Свяжитесь с нами</a> и мы будем рады Вам помочь.</li> 
<li>Мы несём полные гарантийные обязательства за всю поставленную нашим предприятием продукцию. 
Имея долгосрочные отношения с производителями,  мы обеспечиваем гарантийные обязательства. Для замены или ремонта продукции вышедшей из строя в период  гарантийного срока эксплуатации, вам необходимо только с нами связаться и мы оперативно поможем решить эту проблему. Наши партнёры осуществляют послегарантийное обслуживание и ремонт всех средств измерений.</li> 
<li>Мы обеспечиваем  доставку комплексного заказа  в указанный  пункт или место назначения. На сумму свыше 300000 руб. доставка для Вас &mdash; бесплатно. Доставка осуществляется всеми видами транспорта (железнодорожный, автомобильный, авиатранспорт), Мы сотрудничаем со всеми транспортными компаниями России, а также имеем свой личный грузовой автотранспорт.</li> 
<li>Льготные условия оплаты для постоянных заказчиков. Учитывая длительные сроки изготовления продукции от 30 до 90 календарных дней  мы предлагаем своим клиентам частичную оплату, с последующей доплатой по факту поставки .</li> 
<li>У нас более 1000 клиентов &mdash; потребителей средств измерений, которые получают самые качественные услуги, <a href="/контакты">разве Вы не хотите быть среди них?</a></li>     
</ol>
</div>


