<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
    <%= f.label :title, "title",:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :cat_order, "cat_order",:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cat_order, :class => 'text_field' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
