    <div id="myCarousel" class="carousel slide" data-interval="500">
    
    <!-- Carousel items -->
    <div class="carousel-inner" align="center">
    <div class="active item"> 
        <ul id="partner_logo_list">
        <li><%= link_to image_tag("/assets/partner_logo/analit.jpg", :size => "100x50"), '/бренды/аналитприбор' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/asl.jpg", :size => "100x50"), '/бренды/automatic-systems-laboratories' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/druck.jpg", :size => "100x50"), '/бренды/druck' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/chrome.jpg", :size => "100x50"), '/бренды/хромдет-экология' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/crystal.jpg", :size => "100x50"), '/бренды/crystal-engineering-corporation' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/frunze.jpg", :size => "100x50"), '/бренды/нижегородское-научно-производственное-объединение-имени-мв-фрунзе' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/fuji.jpg", :size => "150x50"), '/бренды/fuji-electric-co-ltd' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/gazdev.jpg", :size => "100x50"), '/бренды/зао-газдевайс' %></li>
        </ul>
    </div>
    <div class="item"> 
        <ul id="partner_logo_list"> 
        <li><%= link_to image_tag("/assets/partner_logo/ruska.jpg", :size => "100x50"), '/бренды/ruska' %> </li>
        <li><%= link_to image_tag("/assets/partner_logo/gazstroi.jpg", :size => "100x50"), '/бренды/ооо-газстройнефть' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/inkoteks1.jpg", :size => "100x50"), '/бренды/научно-производственная-компания-инкотекс' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/kontravt.jpg", :size => "130x50"), '/бренды/нпф-контравт' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/manatom.jpg", :size => "100x50"), '/бренды/манотомь' %> </li>
        <li><%= link_to image_tag("/assets/partner_logo/meter.jpg", :size => "100x50"), '/бренды/метер' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/mida.jpg", :size => "60x60"), '/бренды/мида' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/pkpribor.jpg", :size => "200x50"), '/бренды/ооо-пк-прибор' %></li>
        </ul>
    </div>
    <div class="item">
        <ul id="partner_logo_list"> 
        
        <li><%= link_to image_tag("/assets/partner_logo/sensorika.jpg", :size => "100x50"), '/бренды/нпф-сенсорика' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/shatki.jpg", :size => "100x50"), '/бренды/шатковский-приборостроительный-завод' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/sibneft.jpg", :size => "100x50"), '/бренды/сибнефтеавтоматика' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/rosma.jpg", :size => "60x60"), '/бренды/росма' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/tochmash.jpg", :size => "120x50"), '/бренды/оао-впо-точмаш' %> </li>
        <li><%= link_to image_tag("/assets/partner_logo/transmile.jpg", :size => "100x50"), '/бренды/transmille' %></li>
         <li><%= link_to image_tag("/assets/partner_logo/wika.jpg", :size => "130x50"), '/бренды/wika--2' %></li>
         <li><%= link_to image_tag("/assets/partner_logo/spe.jpg", :size => "100x50"), '/бренды/саранский-приборостроительный-завод' %></li>
        </ul>
    </div>
    <div class="item"> 
        <ul id="partner_logo_list">
        <li><%= link_to image_tag("/assets/partner_logo/pressurements.jpg", :size => "180x50"), '/бренды/pressurements' %> </li>
        <li><%= link_to image_tag("/assets/partner_logo/scansense.jpg", :size => "150x50"), '/бренды/scan-sense' %> </li>
        <li><%= link_to image_tag("/assets/partner_logo/proriv.jpg", :size => "120x50"), '/бренды/нпф-прорыв' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/isotech.jpg", :size => "150x50"), '/бренды/isothermal-technology-ltd' %></li>
        <li><%= link_to image_tag("/assets/partner_logo/martel.jpg", :size => "150x50"), '/бренды/martel-electronics' %></li> 
        <li><%= link_to image_tag("/assets/partner_logo/steklopribor.jpg", :size => "150x50"), '/бренды/оао-стеклоприбор' %></li>
        </ul>
    </div>
    </div>
    <!-- Carousel nav -->
    <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>-->
    <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
    </div>